.BiteContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.blogs{
    margin-top:35px;
}
.bookmark{
    padding-top: 35px;
    padding-left: 20px;
    
}
.TimeShow h3{
    text-align: center;
    margin: 0;
}
.TimeShow{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius:8px;
    padding:20px 50px;
    border: 1px solid #6047EC;

background: rgba(96, 71, 236, 0.10);
}
.Bookmark-Holder{
    padding:30px;
    border-radius: 8px;
    background: rgba(17, 17, 17, 0.05);
    margin-top: 25px;
}
.Bookmark-Holder h2{
    color: crimson;

}
.bookmark-trash-btn{
    background-color:white;
    padding: 0;
    border: none;
    background: none;
}

.trash-icn{
    color: crimson;
}
.trash-icn:hover{
    color: rgb(177, 0, 36);
}





@media only screen and (max-width: 426px) {
  
    .BiteContainer{
        /* display: grid; */
        grid-template-columns: 1fr;
       
    }
    .blogs{
        margin-top:20px;
    }
    .bookmark{
        padding-top: 20px;
        padding-left: 0;
        width: 320px;
        
    }
    .TimeShow{
        display: flex;
        align-items: center;
        justify-content:space-between;
        border-radius:8px;
        padding:10px 20px;
        border: 1px solid #6047EC;
        width: 80%;
    
    background: rgba(96, 71, 236, 0.10);
    }
    .TimeShow h3{
        font-size: 16px;
    }
    .Bookmark-Holder{
        width: 75%;
    }
    .Bookmark-Holder h2{
        font-size: 16px;

    
    }
  }